<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <h2 class="m-0">Manage Users</h2>
    </ng-template>
    <ng-template pTemplate="right">
      <button
        pButton
        label="Clear"
        class="p-button-outlined right-margin-button"
        icon="pi pi-filter-slash"
        (click)="clear(dt)"
      ></button>
      <button
        pButton
        pRipple
        label="Add"
        icon="pi pi-plus"
        class="p-button-success right-margin-button"
        (click)="openDialogNewUser()"
      ></button>
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal(getEventValue($event), 'contains')"
          placeholder="Search by all fields"
        />
      </span>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    dataKey="id"
    [value]="users"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'User',
      'Password',
      'Role',
      'App',
      'Environment',
      'Url'
    ]"
    [rowHover]="true"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="User" style="min-width: 15rem">
          User <p-sortIcon field="User"></p-sortIcon>
        </th>
        <th pSortableColumn="Password" style="min-width: 10rem">
          Password <p-sortIcon field="Password"></p-sortIcon>
        </th>
        <th pSortableColumn="Role" style="min-width: 10rem">
          Role <p-sortIcon field="Role"></p-sortIcon>
        </th>
        <th pSortableColumn="App" style="min-width: 10rem">
          App <p-sortIcon field="App"></p-sortIcon>
        </th>
        <th pSortableColumn="Environment" style="min-width: 10rem">
          Environment <p-sortIcon field="Environment"></p-sortIcon>
        </th>
        <th pSortableColumn="Url" style="min-width: 10rem">
          Url <p-sortIcon field="Url"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="User"></p-columnFilter>
        </th>
        <th></th>
        <th>
          <p-columnFilter type="text" field="Role"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="App"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="Environment"></p-columnFilter>
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <i class="pi pi-copy" (click)="clipboard(user.User)"></i>
          {{ user.User }}
        </td>
        <td>
          <i class="pi pi-copy" (click)="clipboard(user.Password)"></i>
          {{ user.Password }}
        </td>
        <td>{{ user.Role }}</td>
        <td>{{ user.App }}</td>
        <td>{{ user.Environment }}</td>
        <td>
          <i class="pi pi-copy" (click)="clipboard(user.Url)"></i>
          {{ user.Url }}
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success right-margin-button"
            (click)="editUserButton(user)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteUser(user)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" style="text-align: center">
          There is no data associated with the query
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="usertDialog"
  [style]="{ width: '450px' }"
  header="{{ titleDialog }}"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="email">User *</label>
      <input
        type="text"
        pInputText
        id="user"
        [(ngModel)]="user.User"
        required
        autofocus
      />
      <small
        class="p-error"
        *ngIf="submitted && (!user.User || user.User.trim() == '')"
        >User is required.</small
      >
    </div>
    <div class="field">
      <label for="password">Password *</label>
      <input
        type="text"
        pInputText
        id="password"
        [(ngModel)]="user.Password"
        required
        autofocus
      />
      <small
        class="p-error"
        *ngIf="submitted && (!user.Password || user.Password.trim() == '')"
        >Password is required.</small
      >
    </div>
    <div class="field">
      <label for="role">Role *</label>
      <input
        type="text"
        pInputText
        id="role"
        [(ngModel)]="user.Role"
        required
        autofocus
      />
      <small
        class="p-error"
        *ngIf="submitted && (!user.Role || user.Role.trim() == '')"
        >Role is required.</small
      >
    </div>
    <div class="field">
      <label for="app">App *</label>
      <input
        type="text"
        pInputText
        id="app"
        [(ngModel)]="user.App"
        required
        autofocus
      />
      <small
        class="p-error"
        *ngIf="submitted && (!user.App || user.App.trim() == '')"
        >App is required.</small
      >
    </div>
    <div class="field">
      <label for="environment">Environment *</label>
      <input
        type="text"
        pInputText
        id="environment"
        [(ngModel)]="user.Environment"
        required
        autofocus
      />
      <small
        class="p-error"
        *ngIf="
          submitted && (!user.Environment || user.Environment.trim() == '')
        "
        >Environment is required.</small
      >
    </div>
    <div class="field">
      <label for="url">Url *</label>
      <input
        type="text"
        pInputText
        id="url"
        [(ngModel)]="user.Url"
        required
        autofocus
      />
      <small
        class="p-error"
        *ngIf="submitted && (!user.Url || user.Url.trim() == '')"
        >Url is required.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-secondary"
      (click)="hideDialogNewUser()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-success"
      (click)="saveUserButton(user)"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
